<h4>search</h4>
<section class="posts">
    <div class="same1">
        <h1>The Hub</h1>
        <h2>12:00 - 1:15</h2>
    </div>
    <div class="box">
        <img src="../assets/map.png">
    </div>
    <div class="same">
        <div class="poopy">
        <img src="../assets/nate.png" alt="profile pic">
        <p><strong>Nate</strong> + 6 others</p>
        </div>
        <div class="button">
        <p>Join</p>
        </div>
    </div>
</section>

<section class="posts">
    <div class="same1">
        <h1>Red Square</h1>
        <h2>1:30-2:15</h2>
    </div>
    <div class="box">
        <img src="../assets/map.png">
    </div>
    <div class="same">
        <div class="poopy">
        <img src="../assets/mom.jpg" alt="profile pic">
        <p><strong>Isabella</strong> + 6 others</p>
        </div>
        <div class="button">
        <p>Join</p>
        </div>
    </div>
</section>


<section class="posts">
    <div class="same1">
        <h1>Red Square</h1>
        <h2>2:00 - 2:45</h2>
    </div>
    <div class="box">
        <img src="../assets/map.png">
    </div>
    <div class="same">
        <div class="poopy">
        <img src="../assets/Lauren.jpg" alt="profile pic">
        <p><strong>Zach</strong> + 6 others</p>
        </div>
        <div class="button">
        <p>Join</p>
        </div>
    </div>
  </section>
  <br>
  <br>
  <br>